.container {
    grid-area: b;

    display: flex;
}

.button {
    background-color: blue;
    color: white;
}

.buttonHome {
    background-color: aqua;
}

.buttonText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button.active {
    color: blue;
    background-color: white;
}