.section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-image: linear-gradient(rgba(19, 181, 234, 0.02) 76%, rgba(19, 181, 234, 0.15) 100%);

}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    height: 280px;
    padding: 15px 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #0079BE;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.sabLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #0079BE;
    font-weight: bold;
}

.label {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #0079BE;
    font-weight: bold;
    text-align: center;
}